<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Apple Trees</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>
<nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle
                navigation</span>
        </button> <a class="navbar-brand" href="/">Everything Apple Trees</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a href="/" class="nav-link">Home</a>
                </li>
                <li class="active nav-item"><a href="/appletrees" class="nav-link">Apple Trees</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>Apple Tree Info</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p>
            <div class="caption">Many apples grow readily from seeds. However, more than with most perennial fruits,
                apples must be propagated asexually to obtain the sweetness and other desirable characteristics of the
                parent. This is because seedling apples are an example of "extreme heterozygotes", in that rather than
                inheriting genes from their parents to create a new apple with parental characteristics.</div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/95apple.jpeg/220px-95apple.jpeg"
                alt="Wild apple">
            </p>
        </div>
        <div class="col-lg-6">
            <p>
            <div class="caption">Cultivars vary in their yield and the ultimate size of the tree, even when grown on the
                same rootstock. Some cultivars, if left unpruned, grow very large—letting them bear more fruit, but
                making harvesting more difficult. Depending on tree density (number of trees planted per unit surface
                area), mature trees typically bear 40–200 kg (90–440 lb) of apples each year, though productivity can be
                close to zero in poor years. Apples are harvested using three-point ladders that are designed to fit
                amongst the branches.</div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Apfelbaum_Winterrambour_Hochstamm.jpg/290px-Apfelbaum_Winterrambour_Hochstamm.jpg"
                alt="Tree">
            </p>
        </div>
    </div>
</div>

</html>